[submodule "vim/bundle/node"]
	path = vim/bundle/node
	url = https://github.com/moll/vim-node.git
[submodule "vim/bundle/emmet"]
	path = vim/bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/javascript-syntax"]
	path = vim/bundle/javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/jsbeautify"]
	path = vim/bundle/jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
